Data Cleaning

In [1]:
# importing libraries
import pandas as pd

In [13]:
# reading the data into a dataframe and making a copy
df_pd = pd.read_csv("Dataset/bank/bank-full.csv", sep=";")
df = df_pd.copy()

In [14]:
df_add_pd = pd.read_csv("Dataset/bank-additional/bank-additional/bank-additional-full.csv", sep=";")
df_add = df_add_pd.copy()

In [ ]:
# brief overview of the dataset
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [29]:
# no null values as mentioned in the documentation
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [51]:
# Visualize the "unknown" value percentage of each column
unknownDF = pd.DataFrame({"Column": pd.Series(dtype="str"), "Unknown_Percentage": pd.Series(dtype="float")})
for x in df.columns:
    numberUnknown = df[x][df[x] == 'unknown'].shape[0]
    unknownProportion = numberUnknown/df.shape[0]
    if unknownProportion != 0:
        new_row = pd.DataFrame({"Column":[x], "Unknown_Percentage":[unknownProportion*100]})
        unknownDF = pd.concat([unknownDF, new_row], ignore_index=True)
unknownDF

      Column  Unknown_Percentage
0        job            0.637013
1  education            4.107407
2    contact           28.798301
3   poutcome           81.747805

In [53]:
# As poutcome has 81% unknown values, the poutcome column will be dropped
df.drop(columns = ["poutcome"], inplace = True)

In [ ]:
# The columns (education and contact) will be imputated with relevant values
df.contact.value_counts()

contact
cellular     42305
telephone     2906
Name: count, dtype: int64

In [76]:
# as cellular is the form of contact with the highest value count, the "unknown" values will be imputated with "cellular"
df.loc[df['contact'] == "unknown", 'contact'] = "cellular"

In [ ]:
# the "unknown" rows(0.637%) of the jobs column will be removed 
df = df[df["job"] != "unknown"]

In [79]:
df.education.value_counts()

education
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: count, dtype: int64

In [62]:
# getting numerical columns
df.select_dtypes("number").columns

Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'], dtype='object')

In [63]:
# getting categorical columns
df.select_dtypes("object").columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'y'],
      dtype='object')